* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
  width: 100%;
}
:root {
  --color-brand--1: rgb(255, 204, 102);
  --color-brand--2: #080000;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

body {
  font-family: "Monaco", sans-serif;
  color: var(--color-dark--2);
  font-weight: 400;

  overscroll-behavior-y: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-brand--2);
  gap: 50px;
  width: 100%;
  height: 5vh;
  min-height: 40px;
  z-index: 999;
}
.welcome__header {
  background-color: var(--color-brand--2);
  height: 70vh;
  width: 100%;
  display: grid;
  place-items: center;
  justify-items: flex-start;
}
.side .title {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 4vw;
  margin: 0px 15vw;
  width: 70vw;
}
.side {
  height: 60vh;
  width: 100%;

  display: grid;
  place-items: center;

  overflow: hidden;
  position: absolute;
}

.welcome__img {
  margin-top: 15px;
  width: 50vw;
  max-width: 50vw;
}
#left-side {
  background-color: var(--color-brand--1);
  z-index: 2;
}
#right-side {
  background-color: var(--color-brand--2);
}

.welcome__message {
  margin-top: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 2rem;
}
.welcome__supermarket__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: #2d3439 solid 0.25vw;
  justify-content: right;
  margin: 20px;
  overflow: hidden;
}
.supermarket__logo__container {
  height: 60px;
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  border: #2d34393e solid 1px;
  position: relative;
}
.relative__container {
  height: 20vh;
  position: relative;
  overflow: visible;
  background-color: #080000;
  /* transform: translateY(50px); */
}
.track__message {
  font-family: "Rubik", sans-serif;
  font-size: 2vw;
  color: #ffffff;

  gap: 3vmin;
  position: absolute;
  left: 0%;
  top: 10%;
  z-index: 5;
}

.track__message .icon {
  transform: translateX(100%);
}

.fade__down {
  animation: fadeDown 2s ease forwards;
  opacity: 0;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.welcome__carrousel {
  height: 40vh;
  width: 100%;
  background-color: var(--color-brand--2);
  margin: 0rem;
  overflow: hidden;
  position: relative;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#image-track {
  display: flex;
  gap: 3vmin;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(0%, -50%);
  overflow: hidden;

  user-select: none;
}
.welcome__carrousel .track__message {
  display: flex;
  gap: 3vmin;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(0%, -50%);
  overflow: visible;
}
#image-track .img {
  width: 49vmin;
  height: 30vmin;
  object-fit: cover;
  object-position: 0% 50%;
}
.welcome__container__btn {
  margin: 10px 0;
  transition: background-color 0.7s ease-out;
}
.welcome__container__btn:hover {
  transition: 0.7s;
  background-color: var(--color-brand--2);
  color: var(--color-light--2);
  cursor: pointer;
}
.supermarket__logo__container:hover {
  opacity: 0.7;
  cursor: pointer;
}
.supermarket__selected {
  opacity: 1;
  content: " SANTIi";
  position: absolute;
  content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Green-checkmark.svg/1957px-Green-checkmark.svg.png");
  top: 3px;
  left: 5px;
  /* bottom: 20px; */
  height: 15px;
  z-index: 10;
}
@media (max-width: 768px) {
  .welcome__supermarket__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: #2d3439 solid 5px;
    justify-content: right;
  }
}
@media (max-width: 550px) {
  .welcome__supermarket__container {
    display: grid;
    grid-template-columns: 1fr;
    border: #2d3439 solid 5px;
    justify-content: right;
  }
}
.navfix {
  height: 40px;
}
.sticky {
  position: fixed;
}

.search {
  align-self: center;
  width: 300px;
}
.search__field {
  padding-left: 15px;
  width: 250px;
  border-radius: 30px;
}

.webname {
  margin-left: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
}
.webname__img {
  margin-left: 50px;
  height: 10vh;
  min-height: 60px;
}
.column {
  border: 5px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
}
.column:nth-child(even) {
  border-left: none;
}
.products__list {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .column {
    border: 5px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .column-container {
    grid-template-columns: 1fr;
  }
  .products__list {
    display: flex;
    flex-direction: row;
  }
}
.column-container {
  display: grid;

  grid-template-rows: auto auto auto;
}

.product__container {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 0.5px outset rgba(0, 0, 0, 0.171);
  display: flex;
  column-gap: 20px;
  position: relative;
}
.product__description {
  color: rgb(59, 58, 58);
}
.product__price {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
}
.product__image {
  padding-top: px;
}
.product__buy {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.product__addbtn {
  display: block;
  max-width: 30%;
  padding: 5px;
  margin-top: 5px;
  background-color: var(--color-brand--2);
  color: rgb(255, 255, 255);
}
.product__addbtn:hover {
  background-color: var(--color-brand--1);
  color: #080000;
  cursor: pointer;
}
.product__discount {
  color: white;
  background-color: red;
  position: absolute;
  left: 15px;
  top: 5px;
}

.product__img {
  display: flex;
  width: 25%;
  max-width: 120px;
  max-height: 100vh;
  justify-content: center;
}
.logo__img {
  display: block;
  height: 50px;
  width: auto;
  transition: height 0.5s ease-out;
}
.logo__img:hover {
  height: 45px;
}
.logo__space {
  row-gap: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.logo__space .logo__img {
  margin: 5px;
}

.subtotal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.subtotal .product__addbtn {
  max-width: 100%;
  width: 100%;
}
.product__details {
  width: 70%;
  padding-right: 30px;
}
.btn__container {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}
.btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  border-radius: 15px;
}
.cartbtn {
  color: #ececec;
  padding-right: 50px;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  font-size: 36px;
  transition: color 0.5s ease-out;
}
.cartbtn:hover {
  transition: 0.5s;
  color: var(--color-brand--1);
  cursor: pointer;
}
.quantity__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}
.quantity__button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 4px 8px;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
  padding: 4px 0;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
footer {
  background-color: var(--color-brand--2);
}
.notselected {
  opacity: 0.5;
  transition: opacity 0.8s ease-out;
}
.notselected:hover {
  transition: 0.8s;

  opacity: 1;
  cursor: pointer;
}
.next__btn:hover,
.prev__btn:hover {
  transition: 0.8s;

  background-color: var(--color-brand--2);
  cursor: pointer;
}

hr {
  width: 90%;
  margin: 15px auto;
}
