* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

body {
  font-family: "Monaco", sans-serif;
  color: var(--color-dark--2);
  font-weight: 400;

  overscroll-behavior-y: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  gap: 50px;
  width: 100%;
  z-index: 999;
  border-bottom: #2d3439 solid 3px;
}

.welcome__container {
  margin-top: 20px;
}
.welcome__message {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 10px;
}
.welcome__supermarket__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: #2d3439 solid 5px;
  justify-content: right;
}
.supermarket__logo__container {
  height: 60px;
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  border: #2d34393e solid 1px;
  position: relative;
}
.welcome__container__btn {
  margin: 10px 0;
  transition: background-color 0.7s ease-out;
}
.welcome__container__btn:hover {
  transition: 0.7s;
  background-color: aqua;
  cursor: pointer;
}
.supermarket__logo__container:hover {
  opacity: 0.7;
  cursor: pointer;
}
.supermarket__selected {
  opacity: 1;
  content: " SANTIi";
  position: absolute;
  content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Green-checkmark.svg/1957px-Green-checkmark.svg.png");
  top: 3px;
  left: 5px;
  /* bottom: 20px; */
  height: 15px;
  z-index: 999;
}

.navfix {
  height: 43px;
}
.sticky {
  position: fixed;
}

.search {
  align-self: center;
  width: 300px;
}
.search__field {
  padding-left: 15px;
  width: 250px;
  border-radius: 30px;
}

.webname {
  margin-left: 50px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.column-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}
.column {
  border: 5px solid black;
  position: relative;
}
.product__container {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 0.5px outset rgba(0, 0, 0, 0.171);
  display: flex;
  column-gap: 20px;
  position: relative;
}
.product__description {
  color: rgb(59, 58, 58);
}
.product__price {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
}
.product__image {
  padding-top: px;
}
.product__buy {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.product__addbtn {
  display: block;
  max-width: 30%;
  padding: 5px;
  margin-top: 5px;
  background-color: green;
  color: rgb(255, 255, 255);
}
.product__addbtn:hover {
  background-color: rgb(12, 201, 201);
  cursor: pointer;
}
.product__discount {
  color: white;
  background-color: red;
  position: absolute;
  left: 15px;
  top: 5px;
}

.product__img {
  display: flex;
  width: 25%;
  max-width: 120px;
  max-height: 100px;
  justify-content: center;
}
.logo__img {
  display: block;
  height: 50px;
  width: auto;
  transition: height 0.5s ease-out;
}
.logo__img:hover {
  height: 45px;
}
.logo__space {
  row-gap: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.subtotal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.product__details {
  width: 70%;
  padding-right: 30px;
}
.btn__container {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}
.btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  border-radius: 15px;
}
.cartbtn {
  border: none;
  background-color: transparent;
  margin-right: 20px;
  font-size: 36px;
  transition: color 0.5s ease-out;
}
.cartbtn:hover {
  transition: 0.5s;
  color: #ececec;
  cursor: pointer;
}
.quantity__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}
.quantity__button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 4px 8px;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
  padding: 4px 0;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
footer {
  background-color: aqua;
}
.notselected {
  opacity: 0.5;
  transition: opacity 0.8s ease-out;
}
.notselected:hover {
  transition: 0.8s;

  opacity: 1;
  cursor: pointer;
}
.next__btn:hover,
.prev__btn:hover {
  transition: 0.8s;

  background-color: aqua;
  cursor: pointer;
}
